//COLORS

$white: #fff;
$bg-color: #0D192C;
$card-color: #15263F;
$p-color: #8BACD9;
$cyan: #00FFF8;

//FONT
$font: 'Outfit',
sans-serif;

//FONT-SIZE

$h1: 22px;
$p-l: 18px;
$p-m: 16px;
$p-s: 15px;

//BREAKPOINTS